<!--
  - Hey there, source code reader!
  - This website is not minified so you can check out its source easily
  - Following the Google HTML/CSS Style Guide: https://google.github.io/styleguide/htmlcssguide.html
  - You may therefore notice missing tags such as Head and Body, but this is normal
  - Enjoy your stay!
  -   Antony Garand
  -->
<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet"
      href="includes/style.css"
      integrity="QkKrlqBtb/oej97/3mjennfHSG3dDOkLeDkKVPX+JD+AADkdffiDf0mclUuLYdEB">

<!-- Development version of VueJS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"
        integrity="sha384-it4Lkdq6cPlSMOFlQnsIhtZZWRKtQAD9/BgL9snbMlDrkDxaPJ1iyIbHPR3NIw/w"
        crossorigin="anonymous"></script>
<!-- Minified VueJS -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"
        integrity="sha384-VsEMqPNUvx1A08X52lHGP/3aBJntt3ddLQxK2QHyQ//NrJTjFwUMeDiSXz9s63XQ"
        crossorigin="anonymous"></script>-->
<title>Antony Garand's Resume</title>

<div id="app">
    <div id="content">
        <div id="sectionLeft">
            <div id="nameUpper" v-text="firstName"></div>
            <div id="nameLower" v-text="lastName"></div>
            <div v-for="contactMethod of contactMethods" class="userInformation">
                <a :href="`mailto:${contactMethod.value}`"
                   v-if="contactMethod.type === 'email'"
                   v-text="contactMethod.value"
                   target="_blank" rel="noopener"></a>
                <a :href="contactMethod.value"
                   v-else-if="contactMethod.type === 'link'"
                   v-text="contactMethod.value"
                   target="_blank" rel="noopener"></a>
                <span v-else v-text="contactMethod.value"></span>
            </div>
            <h2 class="leftSectionTitle">Skills</h2>
            <div v-for="technologiesGroup of technologies">
                <div v-for="technology of technologiesGroup" v-text="technology" class="centeredText"></div>
                <br/>
            </div>
            <h2 class="leftSectionTitle">Find me</h2>
            <div v-for="resource of resources" class="centeredText userInformation">
                <a :href="resource.url" v-text="resource.name" target="_blank" rel="noopener"></a>
            </div>
        </div>
        <div id="sectionRight">
            <h1 id="experience" class="sectionRightTitle">Experience</h1>
            <div class="workExperience margin-left" v-for="job of jobs">
                <h3 class="sectionRightSubtitle" v-text="`${job.startDate} - ${job.endDate}`"></h3>
                <p class="workRole role" v-text="`${job.employer} - ${job.role}`"></p>
                <p class="bold" v-text="job.customFlag"></p>
                <p class="" v-text="job.roleDescription"></p>
                <p class="">Tasks and responsibilities:</p>
                <ul class="" v-for="task of job.tasks">
                    <li v-text="task"></li>
                </ul>
            </div>
            <div id="extraWrapper">
                <h1 id="extra" class="sectionRightTitle">Extra</h1>
                <div>
                    <h2 class="sectionRightSubtitle">Events</h2>
                    <div class="margin-left">
                        <p class="extraRole role">Security and Programming competitions</p>
                        <p class="extraDescription description">
                            Participation to various competitions, physical and online, notably:
                        </p>
                        <ul class="tasklist" v-for="competition of competitions">
                            <li v-text="`${competition.date} - ${competition.name}`"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2 class="sectionRightSubtitle">Projects</h2>
                    <div v-for="project of projects" class="margin-left">
                        <h3 v-text="project.name"></h3>
                        <div class="margin-left">
                            <a :href="project.url" v-text="project.url" target="_blank" rel="noopener"></a>
                            <p v-for="line of project.description.split('\n')" v-text="line"></p>
                            <div v-if="project.noteworthy" class="margin-left">
                                <h4>Notable mentions:</h4>
                                <div class="projectNoteworthy margin-left" v-for="mention of project.noteworthy">
                                    <h5 v-text="mention.name" class="bold"></h5>
                                    <a :href="mention.url"
                                       v-text="mention.url"
                                       class="small margin-left"
                                       target="_blank" rel="noopener"></a>
                                    <p v-text="mention.description" class="margin-left"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="source">
                <span>Source available on</span>
                <a href="https://gitlab.com/AntonyGarand/resume-vuejs" target="_blank" rel="noopener">Gitlab</a>
            </div>
        </div>
    </div>
</div>

<script>
  /**
   * Determines if the current element is the last one of a given array
   * To be used in v-for loops to determine if it is the last element of the loop
   * @param item The current item within an array
   * @param list The list which contains the item
   * @returns {boolean} Item is the last element of List
   */
  Vue.prototype.$last = function (item, list) {
    return item === list[list.length - 1]
  }

  new Vue({
    el: '#app',
    data () {
      return {
        firstName: 'Antony',
        lastName: 'Garand',
        contactMethods: [
          {name: 'Website', type: 'link', value: 'https://garand.info/resume'},
          {name: 'Email', type: 'email', value: 'antonygarand@gmail.com'},
          {name: 'Phone', value: '(1) 819-123-4567'},
          {name: 'Location', value: 'Quebec, Canada'},
        ],
        jobs: [
          {
            employer: 'CGI',
            startDate: 2017,
            endDate: 'Present',
            role: 'Software Engineer',
            roleDescription: 'Lead Developer of a high volume retail solution',
            tasks: [
              'Improve the codebase quality with code reviews, code analysis and peer programming',
              'Perform a technical analysis of the application and implement a micro-service architecture',
              'Build critical pieces of the application following high-volumes requirements',
            ],
            technologies: [
              'Java', 'Angular 2-4', 'Typescript', 'Couchbase', 'Redis', 'Postgresql', 'Git',
            ],
          },
          {
            employer: 'Sucuri',
            startDate: 2015,
            endDate: 2017,
            customFlag: 'REMOTE',
            role: 'Vulnerability Researcher',
            roleDescription: 'Searching for vulnerabilities within popular CMS such as WordPress and Magento',
            tasks: [
              'Static and Dynamic Source code analysis',
              'Application audit, black-box and white-box',
              'Automation of various tasks related to the Firewall (CloudProxy)',
            ],
            technologies: [
              'PHP', 'Python', 'Lua', 'Mercurial',
            ],
          },
        ],
        technologies: [
          [
            'JavaScript',
            'TypeScript',
            'CSharp (C#)',
            'Java',
            'PHP',
            'SQL',
          ],
          [
            'VueJS',
            'Angular (2+)',
            'CodeIgniter',
            'NodeJS',
            'Unity3D',
            'Graphics Design basics',
          ],
          [
            'Linux',
            'Git',
            'Mercurial',
            'Vim ',
          ],
        ],
        competitions: [
          {date: '2014 - Today', name: 'Hackfest'},
          {date: '2014 - Today', name: 'NorthSec'},
          {date: '2017', name: 'HackQC'},
          {date: '2015', name: 'Defcon'},
          {date: '2015', name: 'GoSecure (Finalist)'},
        ],
        projects: [
          {
            name: 'BrawlDB.com',
            url: 'https://brawldb.com',
            description: `
                Statistics generator and combo builder for a Smash-like game.
                Data fetched using the Brawlhalla API
                The website is currently being rebuilt as an open-source, MIT-licensed, VueJS project.
            `,
            noteworthy: [
              {
                name: 'Combo Information',
                url: 'https://brawldb.com/combo/see/17',
                description: 'Built using a WYSWIG editor, with custom components for the dexterity, health range, legend and weapon selectors.',
              },
              {
                name: 'Combo List',
                url: 'https://brawldb.com/combo/all',
              },
              {
                name: 'Stats page',
                url: 'https://brawldb.com/player/stats?bhId=8070',
              },
            ],
            technologies: [
              'PHP (CodeIgniter)', 'LESS', 'JavaScript',
            ],
          },
          {
            name: 'Brawlhalla Api TS',
            url: 'https://gitlab.com/BrawlDB/brawlhalla-api/tree/typescript',
            description: `
                Typescript wrapper to access the official Brawlhalla Api (WIP)
                Note that the documentation is outdated, only the typescript files has been updated at the moment.
            `,
            technologies: ['TypeScript', 'Axios', 'Gulp'],
          },
          {
            name: 'Resume',
            url: 'https://gitlab.com/AntonyGarand/resume-vuejs/',
            description: `
                Source of this website
                Based on a custom-built PSD template
            `,
            technologies: ['JavaScript', 'VueJS'],
          },
        ],
        resources: [
          {name: 'Twitter', url: 'https://twitter.com/Anyny00'},
          {name: 'Gitlab', url: 'https://gitlab.com/AntonyGarand'},
          {name: 'Github', url: 'https://github.com/AntonyGarand'},
          {name: 'Stackoverflow', url: 'https://stackoverflow.com/users/5399585/antony'},
        ],
      }
    },
  })
</script>
