body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /*
     * Background image taken from subtlepatterns.com
     * http://subtlepatterns.com/seigaiha/
     */
    background: url('./background.png');
}

p, ul, li {
    margin: 2px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.8em 0 0.8em 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.centeredText {
    text-align: center;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 1170px;
    box-shadow: 0 0 30px 5px #999;
    background-color: #395f98;
}

#sectionLeft {
    width: 35%;
    color: #e6e6e6;
    display: inline-block;
    position: relative;
    padding-top: 50px;
}

#sectionRight {
    background-color: #fff;
    display: inline-block;
    padding-top: 50px;
    padding-left: 1%;
    padding-right: 2%;
    width: 61.5%;
    color: #000;
    vertical-align: top;
    position: relative;
}

#sectionLeft, #sectionRight {
    padding-bottom: 50px;
}

/*
 * Alignment helper
 */

.margin-left {
    margin-left: 10px;
}

/*
 * ------------
 * Left section
 * ------------
 */

/*
 * Profile, name and contact
 */
#nameUpper, #nameLower {
    font-size: 55px;
    text-align: center;
}

#nameUpper {
    padding-right: 28px;
}

#nameLower {
    padding-left: 28px;
    margin-top: -16px;
}

.userInformation {
    text-align: center;
    font-weight: normal;
    margin-top: -5px;
    margin-bottom: 5px;
}

.userInformation a {
    text-decoration: none;
    color: #e6e6e6;
}

.userInformation a:hover {
    color: #b8d1f5;
}

.leftSectionTitle {
    text-align: center;

}

.leftSectionTitle:after, .leftSectionTitle:before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 20px;
    margin: 7px 10px;
    background-color: #fff;
}

/*
 * ------------
 * Right section
 * ------------
 */

.sectionRightTitle {
    margin: 10px 0;
}

.sectionRightSubtitle {
    text-decoration: underline;
}

h1 {
    padding-top: 10px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
}

h1:after {
    position: absolute;
    top: 40%;
    margin-left: 15px;
    margin-right: 100px;
    overflow: hidden;
    width: 65%;
    height: 2px;
    content: '\a0';
    background-color: #000;
}

h1:before {
    float: right;
    width: 75px;
    transform: scale(.5);
}

#experience:before {
    margin-top: -25px;
    content: url('./case.png');
}

#extra:before {
    margin-top: -10px;
    content: url('./newspaper.png');
}

.sectionRightTitle + div {
    margin-top: -40px;
}

.role {
    margin: 0;
    font-weight: bold;
}

.description {
    font-size: 18px;
}

.description, .tasks, .tasklist {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

li:before {
    content: "-";
    font-weight: 900;
    margin-left: -20px;
    margin-right: 10px;
}

.source {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    right: 0;
    margin-right: 25px;
}
